Janez Troha <janez.troha@gmail.com>
Janez Troha <janez.troha@gmail.com> <dz0ny@ubuntu.si>
Janez Troha <janez.troha@gmail.com> <dz0ny@users.noreply.github.com>
Morten Minde Neergaard <xim-git@akuma.no>
Tom Roth <rawdlite@googlemail.com>
