interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/me/followings?limit=10
  response:
    body:
      string: "{\"collection\":[{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000107783269-jnuu65-large.jpg\",\"id\":2944360,\"urn\":\"soundcloud:users:2944360\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/anyxgivenxday\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:2944360\",\"username\":\"Any
        Given Day\",\"permalink\":\"anyxgivenxday\",\"created_at\":\"2011/01/30 21:27:21
        +0000\",\"last_modified\":\"2014/10/07 09:16:09 +0000\",\"first_name\":\"\",\"last_name\":\"\",\"full_name\":\"\",\"city\":\"Gelsenkirchen\",\"description\":\"Categories
        are part of the business, but now and then they can be just time-consuming.
        You can claim that ANY GIVEN DAY from Gelsenkirchen, Germany can be related
        to the sub-genres new age metal, metalcore and deathcore. It's also save to
        say that their sound unites low tuned, energy loaded, hard-lined heaviness
        with enthralling melodic parts and an impressing vocal performance. But what
        you also can do is to describe their style as down-to-earth as the band does
        and \\\"just leave it with metal.\\\" ANY GIVEN DAY set the very normal, daily
        madness to music. Rough and unadorned! Straight in your face! Just metal.\",\"country\":\"Germany\",\"track_count\":1,\"public_favorites_count\":1,\"reposts_count\":0,\"followers_count\":27575,\"followings_count\":0,\"plan\":\"Free\",\"myspace_name\":null,\"discogs_name\":null,\"website_title\":null,\"website\":null,\"comments_count\":0,\"online\":false,\"likes_count\":0,\"playlist_count\":0,\"subscriptions\":[{\"product\":{\"id\":\"free\",\"name\":\"Free\"}}]},{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000134520973-k3ipht-large.jpg\",\"id\":27945548,\"urn\":\"soundcloud:users:27945548\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/pelican-song\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:27945548\",\"username\":\"Pelican
        Song\",\"permalink\":\"pelican-song\",\"created_at\":\"2012/11/09 19:58:08
        +0000\",\"last_modified\":\"2024/08/08 11:32:06 +0000\",\"first_name\":\"\",\"last_name\":\"[...]
