interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/me
  response:
    body:
      string: '{"avatar_url":"https://i1.sndcdn.com/avatars-000049704775-qq8pj8-large.jpg","id":53562492,"urn":"soundcloud:users:53562492","kind":"user","permalink_url":"https://soundcloud.com/nick-steel-4","uri":"https://api.soundcloud.com/users/soundcloud:users:53562492","username":"Nick
        Steel 3","permalink":"nick-steel-4","created_at":"2013/08/07 09:18:09 +0000","last_modified":"2018/05/27
        13:30:55 +0000","first_name":"Nick","last_name":"Steel","full_name":"Nick
        Steel","city":null,"description":null,"country":null,"track_count":0,"public_favorites_count":5,"reposts_count":0,"followers_count":1,"followings_count":51,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":null,"website":null,"comments_count":0,"online":false,"likes_count":0,"playlist_count":2,"subscriptions":[{"product":{"id":"free","name":"Free"}}],"quota":{"unlimited_upload_quota":false,"upload_seconds_used":0,"upload_seconds_left":10800},"private_tracks_count":0,"private_playlists_count":0,"primary_email_confirmed":true,"locale":"","upload_seconds_left":10800}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - a0259e3dc3abd7bb55b7cb2e192b773d
    status:
      code: 200
      message: OK
version: 1
