interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/me/favorites?limit=10
  response:
    body:
      string: "[{\"kind\":\"track\",\"id\":24414623,\"urn\":\"soundcloud:tracks:24414623\",\"created_at\":\"2011/09/29
        12:44:24 +0000\",\"duration\":240181,\"commentable\":true,\"comment_count\":0,\"sharing\":\"public\",\"tag_list\":\"
        tallships bigscarymonsters bloodandbiscuits remix mtbrd\",\"streamable\":true,\"embeddable_by\":\"all\",\"purchase_url\":null,\"purchase_title\":null,\"genre\":\"8bit\",\"title\":\"Words
        Are Pegs Upon Which We Hang Ideas (MTBRD Remix)\",\"description\":\"A remix
        by MTBRD (Matt Beard) of the track 'Words are Pegs Upon Which We Hang Our
        Ideas', which originally featured on the bands debut EP 'Tall Ships'\",\"label_name\":\"\",\"release\":\"\",\"key_signature\":\"\",\"isrc\":null,\"bpm\":null,\"release_year\":null,\"release_month\":null,\"release_day\":null,\"license\":\"all-rights-reserved\",\"uri\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:24414623\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000141133100-0g48l7-large.jpg\",\"id\":1710483,\"urn\":\"soundcloud:users:1710483\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/tallships\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:1710483\",\"username\":\"Tall
        Ships\",\"permalink\":\"tallships\",\"created_at\":\"2010/09/15 10:34:02 +0000\",\"last_modified\":\"2017/09/22
        17:02:29 +0000\",\"first_name\":\"Tall Ships\",\"last_name\":\"\",\"full_name\":\"Tall
        Ships\",\"city\":\"Brighton\",\"description\":null,\"country\":\"Britain (UK)\",\"track_count\":22,\"public_favorites_count\":0,\"reposts_count\":0,\"followers_count\":0,\"followings_count\":0,\"plan\":\"Free\",\"myspace_name\":null,\"discogs_name\":null,\"website_title\":null,\"website\":null,\"comments_count\":0,\"online\":false,\"likes_count\":0,\"playlist_count\":3,\"subscriptions\":[{\"product\":{\"id\":\"free\",\"name\":\"Free\"}}]},\"permalink_url\":\"https://soundcloud.com/tallships/words-are-pegs-mtbrd-remix\",\"artwork_url\":null,\"stream_url\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:24414623/stream\",\"download_url\":null,\"waveform_url\":\"https://wave.sndcdn.com/sLndpGmxrvBb_m.png\",\"available_country_codes\":null,\"secret_uri\":null,\"user_favorite\":true,\"user_playback_count\":1,\"playback_count\":4090,\"download_count\":0,\"favoritings_count\":47,\"reposts_count\":4,\"downloadable\":false,\"access\":\"playable\",\"policy\":null,\"monetization_model\":null,\"metadata_artist\":null},{\"kind\":\"track\",\"id\":103772559,\"urn\":\"soundcloud:tracks:103772559\",\"created_at\":\"2013/08/02
        23:23:04 +0000\",\"duration\":333953,\"commentable\":true,\"comment_count\":54,\"sharing\":\"public\",\"tag_list\":\"
        \\\"heavy metal\\\" \\\"instrumental rock\\\" post-rock epic chicago \\\"Southern
        Lord\\\" \\\"Mylene Sheath\\\" Pelican \\\"Forever Becoming\\\" \\\"Deny The
        Absolute\\\"\",\"streamable\":true,\"embeddable_by\":\"all\",\"purchase_url\":\"http://www.mylenesheath.com/products/deny-the-absolute-b-slash-w-the-truce-7\",\"purchase_title\":null,\"genre\":\"Post
        everything\",\"title\":\"Pelican - Deny The Absolute\",\"description\":\"Taken
        from the forthcoming 7\\\" on The Mylene Sheath. Available August 20th 2013\\r\\nPre-order
        available at pelicansl.bandcamp.com\\r\\n\\r\\nTour Dates\\r\\n10/17 Brooklyn,
        NY @ Saint Vitus - http://ticketf.ly/1a4scp9\\r\\n10/18 Brooklyn, NY @ Saint
        Vitus - http://ticketf.ly/1dpr29P\\r\\n10/19 Boston, MA @ Great Scott - http://bit.ly/1aLiLvT\\r\\n11/1
        Cleveland, OH @ Peabody's - http://tktwb.tw/17JOBb9\\r\\n11/2 Washington,
        DC @ DC9 - http://ticketf.ly/17JWkWB\\r\\n11/3 Philadelphia, PA @ First Unitarian
        Church - http://ticketf.ly/153CI1R\\r\\n11/4 Chapel Hill, NC @ Local 506 -
        http://bit.ly/13RUG5T\\r\\n11/5 Atlanta, GA @ Masquerade - http://bit.ly/169TCg6\\r\\n11/6
        Birmingham, AL @ Zydeco - http://ticketf.ly/1dps1Xn\\r\\n11/7 Baton Rouge,
        LA @ Spanish Moon - http://tktwb.tw/19eijUI\\r\\n11/8 Austin, TX @ Fun Fun
        Fun Fest - http://bit.ly/17pGO5i\\r\\n11/9 Austin, TX @ Fun Fun Fun Fest -
        http://bit.ly/17pGO5i\\r\\n11/13 Chicago, IL @ Bottom Lounge - http://tktwb.tw/cGUWVL\",\"label_name\":\"The
        Mylene Sheath\",\"release\":\"\",\"key_s[...]
