interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/me
  response:
    body:
      string: '{"code":401,"message":"","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"401
        - Unauthorized","errors":[],"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - 93f3cac23c380f7f8253b42dee03d2e2
    status:
      code: 401
      message: Unauthorized
version: 1
