interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/tracks/13158665
  response:
    body:
      string: '{"kind":"track","id":13158665,"urn":"soundcloud:tracks:13158665","created_at":"2011/04/06
        15:37:43 +0000","duration":18109,"commentable":true,"comment_count":7,"sharing":"public","tag_list":"soundcloud:source=iphone-record
        ","streamable":true,"embeddable_by":"all","purchase_url":null,"purchase_title":null,"genre":null,"title":"Munching
        at Tiannas house","description":null,"label_name":null,"release":null,"key_signature":null,"isrc":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/soundcloud:tracks:13158665","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000004193858-jnf2pd-large.jpg","id":3699101,"urn":"soundcloud:users:3699101","kind":"user","permalink_url":"https://soundcloud.com/alex-stevenson","uri":"https://api.soundcloud.com/users/soundcloud:users:3699101","username":"Alex
        Stevenson","permalink":"alex-stevenson","created_at":"2011/03/17 09:03:40
        +0000","last_modified":"2011/06/13 23:58:44 +0000","first_name":"","last_name":"","full_name":"","city":"","description":null,"country":null,"track_count":1,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":null,"website":null,"comments_count":0,"online":false,"likes_count":0,"playlist_count":0,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"permalink_url":"https://soundcloud.com/alex-stevenson/munching-at-tiannas-house","artwork_url":null,"stream_url":"https://api.soundcloud.com/tracks/soundcloud:tracks:13158665/stream","download_url":null,"waveform_url":"https://wave.sndcdn.com/fxguEjG4ax6B_m.png","available_country_codes":null,"secret_uri":null,"user_favorite":false,"user_playback_count":1,"playback_count":17378,"download_count":134,"favoritings_count":5,"reposts_count":1,"downloadable":false,"access":"playable","policy":null,"monetization_model":null,"metadata_artist":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - df55624b37db6a499609564ff282f319
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://api.soundcloud.com/tracks/soundcloud:tracks:13158665/stream
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://cf-media.sndcdn.com/fxguEjG4ax6B.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vZnhndUVqRzRheDZCLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzUyMjQ4NTQwfX19XX0_&Signature=ASuFYvo9MqNG9Pj1q7dfnO6RIQi-Rl68EZhoJd23RZfkRBv8nW0~priQdVnFZpkMcH-nTVzObAlc0YwxkHBrxBKdigv2BjouRy5isvG0kNFGrd8WkWeNNsjRlsDdqn11DK3tic5NJ4H9ppn8TB9utx845r5sypytw0rwYPw1BFwOhlWKP0-a~pCfhXIM6id6J-ZerruRBO84j5bJnkrM3IuHt1D1VCDRELwhr4fo-SZetjie3clM~Fbce1VaM0GSOZOny6fDCAIuqWDke7W8a99uGMtC53qLy0w9F5oR72FyQaJVa6I16zGoXBldaZKrlwDaKwid~tDNWPJB77DAHw__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - 98194cb555663d4e04b416b0f5772048
    status:
      code: 302
      message: Moved Temporarily
version: 1
