interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/tracks/13158665
  response:
    body:
      string: '{"kind":"track","id":13158665,"created_at":"2011/04/06 15:37:43 +0000","duration":18109,"commentable":true,"comment_count":7,"sharing":"public","tag_list":"soundcloud:source=iphone-record
        ","streamable":true,"embeddable_by":"all","purchase_url":null,"purchase_title":null,"genre":null,"title":"Munching
        at Tiannas house","description":null,"label_name":null,"release":null,"key_signature":null,"isrc":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/13158665","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000004193858-jnf2pd-large.jpg","id":3699101,"kind":"user","permalink_url":"https://soundcloud.com/alex-stevenson","uri":"https://api.soundcloud.com/users/3699101","username":"Alex
        Stevenson","permalink":"alex-stevenson","created_at":"2011/03/17 09:03:40
        +0000","last_modified":"2011/06/13 23:58:44 +0000","first_name":"","last_name":"","full_name":"","city":"","description":null,"country":null,"track_count":1,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":null,"website":null,"comments_count":0,"online":false,"likes_count":0,"playlist_count":0,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"permalink_url":"https://soundcloud.com/alex-stevenson/munching-at-tiannas-house","artwork_url":null,"stream_url":"https://api.soundcloud.com/tracks/13158665/stream","download_url":null,"waveform_url":"https://wave.sndcdn.com/fxguEjG4ax6B_m.png","available_country_codes":null,"secret_uri":null,"user_favorite":false,"user_playback_count":1,"playback_count":17319,"download_count":134,"favoritings_count":5,"reposts_count":1,"downloadable":false,"access":"playable","policy":null,"monetization_model":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://api.soundcloud.com/tracks/13158665/stream
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://cf-media.sndcdn.com/fxguEjG4ax6B.128.mp3?Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiKjovL2NmLW1lZGlhLnNuZGNkbi5jb20vZnhndUVqRzRheDZCLjEyOC5tcDMqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNjUxNzkyMzg1fX19XX0_&Signature=OGBst0oQOjHEf3TnH7IJbKipFi3zmWB9bPSjTld5weixfAW6K3z4xglDCbDyt0YRn6fdq6WKIdZR93ngRB2OyBIuP777YhM45uRxYBZkJMr1KC3NleHmNjVror1XBE-Zsp2Lz6EDOGvYPMno9nYM0MLiSjStYtMHKu101vhrdn2DpgJf-xLdQW-2UAY-Ls-trnQRfA03840ebzbNVepPAzum3EeX2CIaislknlEwM40BUD4CVU-4maTCo9QdWOYuqxXODjJkjSff9M9-OZ49EDzZoPD506pmY8omwqPgeDQ2X5l5I9Y9v7-3bnmmqF~EkK4ojoX3I1fp89BrOMhTkw__&Key-Pair-Id=APKAI6TU7MMXM5DG6EPQ
    status:
      code: 302
      message: Moved Temporarily
version: 1
