interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/tracks/s38720262
  response:
    body:
      string: '{"code":404,"message":"","link":"https://developers.soundcloud.com/docs/api/explorer/open-api","status":"404
        - Not Found","errors":[],"error":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - 8af17383406fbf28201ab6611f249182
    status:
      code: 404
      message: Not Found
version: 1
