interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/tracks/13158665
  response:
    body:
      string: '{"kind":"track","id":13158665,"urn":"soundcloud:tracks:13158665","created_at":"2011/04/06
        15:37:43 +0000","duration":18109,"commentable":true,"comment_count":7,"sharing":"public","tag_list":"soundcloud:source=iphone-record
        ","streamable":true,"embeddable_by":"all","purchase_url":null,"purchase_title":null,"genre":null,"title":"Munching
        at Tiannas house","description":null,"label_name":null,"release":null,"key_signature":null,"isrc":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/soundcloud:tracks:13158665","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000004193858-jnf2pd-large.jpg","id":3699101,"urn":"soundcloud:users:3699101","kind":"user","permalink_url":"https://soundcloud.com/alex-stevenson","uri":"https://api.soundcloud.com/users/soundcloud:users:3699101","username":"Alex
        Stevenson","permalink":"alex-stevenson","created_at":"2011/03/17 09:03:40
        +0000","last_modified":"2011/06/13 23:58:44 +0000","first_name":"","last_name":"","full_name":"","city":"","description":null,"country":null,"track_count":1,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":null,"website":null,"comments_count":0,"online":false,"likes_count":0,"playlist_count":0,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"permalink_url":"https://soundcloud.com/alex-stevenson/munching-at-tiannas-house","artwork_url":null,"stream_url":"https://api.soundcloud.com/tracks/soundcloud:tracks:13158665/stream","download_url":null,"waveform_url":"https://wave.sndcdn.com/fxguEjG4ax6B_m.png","available_country_codes":null,"secret_uri":null,"user_favorite":false,"user_playback_count":1,"playback_count":17378,"download_count":134,"favoritings_count":5,"reposts_count":1,"downloadable":false,"access":"playable","policy":null,"monetization_model":null,"metadata_artist":null}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - 7e61f938613b32c31ad9d5252c2617c5
    status:
      code: 200
      message: OK
version: 1
