interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/resolve?url=https://soundcloud.com/bbc-radio-4/m-w-cloud
  response:
    body:
      string: '{"status":"302 - Found", "location":"https://api.soundcloud.com/tracks/soundcloud:tracks:122889665"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/tracks/soundcloud:tracks:122889665
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - 98106ea926a827209acfa8162536aa70
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/tracks/soundcloud:tracks:122889665
  response:
    body:
      string: "{\"kind\":\"track\",\"id\":122889665,\"urn\":\"soundcloud:tracks:122889665\",\"created_at\":\"2013/12/02
        16:42:50 +0000\",\"duration\":55698,\"commentable\":true,\"comment_count\":1,\"sharing\":\"public\",\"tag_list\":\"
        io rad comedy mitchell and webb sound radio4\",\"streamable\":true,\"embeddable_by\":\"all\",\"purchase_url\":null,\"purchase_title\":null,\"genre\":\"\",\"title\":\"That
        Mitchell and Webb Sound \u2013 The Cloud\",\"description\":\"This bite-sized
        comedy is brought to you by BBC Radio 4. For more laughs like these, include
        #Curious4Comedy in another tweet and we\u2019ll send a new clip your way.Listen
        to more from That Mitchell and Webb Sound here: http://www.bbc.co.uk/programmes/b007lqrh\",\"label_name\":\"\",\"release\":\"\",\"key_signature\":\"\",\"isrc\":null,\"bpm\":null,\"release_year\":null,\"release_month\":null,\"release_day\":null,\"license\":\"all-rights-reserved\",\"uri\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:122889665\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000063103708-u8merz-large.jpg\",\"id\":8568372,\"urn\":\"soundcloud:users:8568372\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/bbc-radio-4\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:8568372\",\"username\":\"BBC
        Radio 4 & Radio 4 Ext\",\"permalink\":\"bbc-radio-4\",\"created_at\":\"2011/11/01
        15:54:22 +0000\",\"last_modified\":\"2018/11/27 11:55:02 +0000\",\"first_name\":\"BBC
        Radio 4\",\"last_name\":\"\",\"full_name\":\"BBC Radio 4\",\"city\":\"London\",\"description\":\"\",\"country\":\"Britain
        (UK)\",\"track_count\":66,\"public_favorites_count\":0,\"reposts_count\":0,\"followers_count\":0,\"followings_count\":0,\"plan\":\"Free\",\"myspace_name\":null,\"discogs_name\":null,\"website_title\":\"BBC
        Radio 4\",\"website\":\"http://www.bbc.co.uk/radio4\",\"comments_count\":0,\"online\":false,\"likes_count\":0,\"playlist_count\":7,\"subscriptions\":[{\"product\":{\"id\":\"free\",\"name\":\"Free\"}}]},\"permalink_url\":\"https://soundcloud.com/bbc-radio-4/m-w-cloud\",\"artwork_url\":\"https://i1.sndcdn.com/artworks-000064256058-7c33yi-large.jpg\",\"stream_url\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:122889665/stream\",\"download_url\":null,\"waveform_url\":\"https://wave.sndcdn.com/pQUuxHLGUv8z_m.png\",\"available_country_codes\":null,\"secret_uri\":null,\"user_favorite\":false,\"user_playback_count\":1,\"playback_count\":6271,\"download_count\":0,\"favoritings_count\":68,\"reposts_count\":8,\"downloadable\":false,\"access\":\"playable\",\"policy\":null,\"monetization_model\":null,\"metadata_artist\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - ed277806fb0276670957d05b3f5596b2
    status:
      code: 200
      message: OK
version: 1
