interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/resolve?url=https://soundcloud.com/yndihalda/sets/dash-and-blast
  response:
    body:
      string: '{"status":"302 - Found", "location":"https://api.soundcloud.com/playlists/soundcloud:playlists:446283"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.soundcloud.com/playlists/soundcloud:playlists:446283
      x-ratelimit-limit:
      - '-1'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '0'
      x-tyk-trace-id:
      - 5d35d7a44f4148ac4f14e6f00bc7abe0
    status:
      code: 302
      message: Moved Temporarily
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/playlists/soundcloud:playlists:446283
  response:
    body:
      string: '{"duration":3943833,"genre":"","release_day":1,"permalink":"dash-and-blast","permalink_url":"https://soundcloud.com/yndihalda/sets/dash-and-blast","release_month":1,"release_year":2007,"description":"","uri":"https://api.soundcloud.com/playlists/soundcloud:playlists:446283","label_name":"Big
        Scary Monsters / Burnt Toast Vinyl / XTAL","label_id":null,"label":null,"tag_list":"","track_count":4,"user_id":2262610,"user_urn":"soundcloud:users:2262610","last_modified":"2015/11/11
        12:45:49 +0000","license":"all-rights-reserved","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000202858125-s4rf69-large.jpg","id":2262610,"urn":"soundcloud:users:2262610","kind":"user","permalink_url":"https://soundcloud.com/yndihalda","uri":"https://api.soundcloud.com/users/soundcloud:users:2262610","username":"yndi
        halda","permalink":"yndihalda","created_at":"2010/11/28 12:52:05 +0000","last_modified":"2018/07/24
        17:48:35 +0000","first_name":"yndi","last_name":"halda","full_name":"yndi
        halda","city":"everywhere","description":"UK, Malta, USA, Canada dates - autumn
        2018","country":null,"track_count":7,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":"happenins","website":"http://www.yndihalda.com","comments_count":0,"online":false,"likes_count":0,"playlist_count":1,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"playlist_type":"","type":"","id":446283,"urn":"soundcloud:playlists:446283","downloadable":null,"likes_count":200,"sharing":"public","created_at":"2010/11/28
        12:54:52 +0000","release":null,"tags":"","kind":"playlist","title":"enjoy
        eternal bliss","purchase_title":null,"ean":"","streamable":true,"embeddable_by":"all","artwork_url":"https://i1.sndcdn.com/artworks-000003283417-7bxhxh-large.jpg","purchase_url":"http://orosarecords.bigcartel.com","tracks_uri":"https://api.soundcloud.com/playlists/soundcloud:playlists:446283/tracks","tracks":[{"kind":"track","id":7470149,"urn":"soundcloud:tracks:7470149","created_at":"2010/11/28
        12:54:52 +0000","duration":1011715,"commentable":true,"comment_count":16,"sharing":"public","tag_list":"
        ","streamable":true,"embeddable_by":"all","purchase_url":"http://orosarecords.bigcartel.com","purchase_title":null,"genre":"","title":"01
        Dash And Blast","description":"","label_name":"","release":"","key_signature":null,"isrc":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"license":"all-rights-reserved","uri":"https://api.soundcloud.com/tracks/soundcloud:tracks:7470149","user":{"avatar_url":"https://i1.sndcdn.com/avatars-000202858125-s4rf69-large.jpg","id":2262610,"urn":"soundcloud:users:2262610","kind":"user","permalink_url":"https://soundcloud.com/yndihalda","uri":"https://api.soundcloud.com/users/soundcloud:users:2262610","username":"yndi
        halda","permalink":"yndihalda","created_at":"2010/11/28 12:52:05 +0000","last_modified":"2018/07/24
        17:48:35 +0000","first_name":"yndi","last_name":"halda","full_name":"yndi
        halda","city":"everywhere","description":"UK, Malta, USA, Canada dates - autumn
        2018","country":null,"track_count":7,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Free","myspace_name":null,"discogs_name":null,"website_title":"happenins","website":"http://www.yndihalda.com","comments_count":0,"online":false,"likes_count":0,"playlist_count":1,"subscriptions":[{"product":{"id":"free","name":"Free"}}]},"permalink_url":"https://soundcloud.com/yndihalda/01-dash-and-blast","artwork_url":"https://i1.sndcdn.com/artworks-000003283417-7bxhxh-large.jpg","stream_url":"https://api.soundcloud.com/tracks/soundcloud:tracks:7470149/stream","download_url":null,"waveform_url":"https://wave.sndcdn.com/HilSWKFoKskx_m.png","available_country_codes":null,"secret_uri":null,"user_favorite":false,"user_playback_count":1,"playback_count":60562,"download_count":0,"favoritings_count":1062,"reposts_count":164,"downloadable":false,"access":"playable","policy":null,"monetization_model":null,"metadata_artist":null},{"kind":"track","id":7470150,"urn":"soundcloud:tracks:7470150","created_at":"2010/11/28
        12:54:52 +0000","duration":701680,"commentable":true,"comment_count":10,"sharing":"public","tag_list":"
        ","streamable":true,"embeddable_by":"all","purchase_url":"http://orosarecords.bandcamp.com","purchase_title":null,"genre":"","title":"02
        We Flood Empty Lakes","description":"","label_name":"","release":"","key_signature":null,"isrc":null,"bpm":null,"release_year":null,"release_[...]
