interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/me/playlists?limit=10
  response:
    body:
      string: "[{\"duration\":442335,\"genre\":\"\",\"release_day\":null,\"permalink\":\"stuff\",\"permalink_url\":\"https://soundcloud.com/nick-steel-4/sets/stuff\",\"release_month\":null,\"release_year\":null,\"description\":null,\"uri\":\"https://api.soundcloud.com/playlists/soundcloud:playlists:501736827\",\"label_name\":null,\"label_id\":null,\"label\":null,\"tag_list\":\"\",\"track_count\":2,\"user_id\":53562492,\"user_urn\":\"soundcloud:users:53562492\",\"last_modified\":\"2018/04/19
        23:18:07 +0000\",\"license\":\"all-rights-reserved\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000049704775-qq8pj8-large.jpg\",\"id\":53562492,\"urn\":\"soundcloud:users:53562492\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/nick-steel-4\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:53562492\",\"username\":\"Nick
        Steel 3\",\"permalink\":\"nick-steel-4\",\"created_at\":\"2013/08/07 09:18:09
        +0000\",\"last_modified\":\"2018/05/27 13:30:55 +0000\",\"first_name\":\"Nick\",\"last_name\":\"Steel\",\"full_name\":\"Nick
        Steel\",\"city\":null,\"description\":null,\"country\":null,\"track_count\":0,\"public_favorites_count\":0,\"reposts_count\":0,\"followers_count\":0,\"followings_count\":0,\"plan\":\"Free\",\"myspace_name\":null,\"discogs_name\":null,\"website_title\":null,\"website\":null,\"comments_count\":0,\"online\":false,\"likes_count\":0,\"playlist_count\":2,\"subscriptions\":[{\"product\":{\"id\":\"free\",\"name\":\"Free\"}}]},\"playlist_type\":\"\",\"type\":\"\",\"id\":501736827,\"urn\":\"soundcloud:playlists:501736827\",\"downloadable\":null,\"likes_count\":0,\"sharing\":\"public\",\"created_at\":\"2018/04/19
        23:18:07 +0000\",\"release\":null,\"tags\":\"\",\"kind\":\"playlist\",\"title\":\"Stuff\",\"purchase_title\":null,\"ean\":null,\"streamable\":true,\"embeddable_by\":\"all\",\"artwork_url\":null,\"purchase_url\":null,\"tracks_uri\":\"https://api.soundcloud.com/playlists/soundcloud:playlists:501736827/tracks\",\"tracks\":[{\"kind\":\"track\",\"id\":397988637,\"urn\":\"soundcloud:tracks:397988637\",\"created_at\":\"2018/02/11
        21:59:23 +0000\",\"duration\":206177,\"commentable\":true,\"comment_count\":48,\"sharing\":\"public\",\"tag_list\":\"
        \",\"streamable\":true,\"embeddable_by\":\"all\",\"purchase_url\":null,\"purchase_title\":null,\"genre\":\"Alternative\",\"title\":\"Thought
        Contagion\",\"description\":null,\"label_name\":\"Warner Records\",\"release\":null,\"key_signature\":null,\"isrc\":\"GBAHT1800045\",\"bpm\":null,\"release_year\":2018,\"release_month\":2,\"release_day\":15,\"license\":\"all-rights-reserved\",\"uri\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:397988637\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000016235366-97m7j9-large.jpg\",\"id\":8261905,\"urn\":\"soundcloud:users:8261905\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/muse\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:8261905\",\"username\":\"Muse\",\"permalink\":\"muse\",\"created_at\":\"2011/10/21
        10:19:06 +0000\",\"last_modified\":\"2020/11/18 17:56:34 +0000\",\"first_name\":\"Muse\",\"last_name\":\"\",\"full_name\":\"Muse\",\"city\":\"\",\"description\":\"\",\"country\":\"Britain
        (UK)\",\"track_count\":290,\"public_favorites_count\":0,\"reposts_count\":0,\"followers_count\":0,\"followings_count\":0,\"plan\":\"Free\",\"myspace_name\":null,\"discogs_name\":null,\"website_title\":\"Official
        Website\",\"website\":\"http://muse.mu/\",\"comments_count\":0,\"online\":false,\"likes_count\":0,\"playlist_count\":54,\"subscriptions\":[{\"product\":{\"id\":\"free\",\"name\":\"Free\"}}]},\"permalink_url\":\"https://soundcloud.com/muse/thought-contagion\",\"artwork_url\":\"https://i1.sndcdn.com/artworks-sCwK4AKFZJLW-0-large.jpg\",\"stream_url\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:397988637/stream\",\"download_url\":null,\"waveform_url\":\"https://wave.sndcdn.com/c6kySBVJnTwb_m.png\",\"available_country_codes\":null,\"secret_uri\":null,\"user_favorite\":false,\"user_playback_count\":1,\"playback_count\":236501,\"download_count\":0,\"favoritings_count\":4272,\"reposts_count\":98,\"downloadable\":false,\"access\":\"playable\",\"policy\":null,\"monetization_model\":null,\"metadata_artist\":\"Muse\"},{\"kind\":\"track\",\"id\":54659237,\"urn\":\"soundcloud:tracks:54659237\",\"created_at\":\"2012/07/31
        01:52:47 +0000\",\"duration\":236158,\"commentable\":true,\"comment_count\":66,\"sharing\":\"public\",\"tag_list\":\"
        architects uk omega alpha\",\"streamable\":false,\"embeddable_by\":\"all\",\"purchase_url\":\"http://www.itunes.com/architects\",\"purchase_title\":null,\"genre\":\"metal\",\"title\":\"ARCHITECTS
        UK - Alpha Omega\",\"description\":\"ARCHITECTS U[...]
