interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/me/activities?limit=10
  response:
    body:
      string: '{"collection":[{"type":"playlist","created_at":"2025/07/11 13:01:52
        +0000","origin":{"duration":122410,"genre":"","release_day":null,"permalink":"shred-example-6","permalink_url":"https://soundcloud.com/guitarworld/sets/shred-example-6","release_month":null,"release_year":null,"description":null,"uri":"https://api.soundcloud.com/playlists/soundcloud:playlists:2049604851","label_name":null,"label_id":null,"label":null,"tag_list":"","track_count":3,"user_id":4648693,"user_urn":"soundcloud:users:4648693","last_modified":"2025/07/11
        13:02:07 +0000","license":"all-rights-reserved","user":{"avatar_url":"https://i1.sndcdn.com/avatars-SEC9i8y5MGlQzQmy-lhPRTw-large.jpg","id":4648693,"urn":"soundcloud:users:4648693","kind":"user","permalink_url":"https://soundcloud.com/guitarworld","uri":"https://api.soundcloud.com/users/soundcloud:users:4648693","username":"GuitarWorld","permalink":"guitarworld","created_at":"2011/05/11
        18:18:06 +0000","last_modified":"2025/05/23 17:15:34 +0000","first_name":"Guitar","last_name":"World","full_name":"Guitar
        World","city":"New York City","description":"","country":"United States","track_count":2082,"public_favorites_count":0,"reposts_count":0,"followers_count":0,"followings_count":0,"plan":"Pro
        Unlimited","myspace_name":null,"discogs_name":null,"website_title":"GuitarWorld.com","website":"http://www.guitarworld.com/","comments_count":0,"online":false,"likes_count":0,"playlist_count":322,"subscriptions":[{"product":{"id":"creator-pro-unlimited","name":"Pro
        Unlimited"}}]},"playlist_type":"","type":"","id":2049604851,"urn":"soundcloud:playlists:2049604851","downloadable":null,"likes_count":0,"sharing":"public","created_at":"2025/07/11
        13:01:52 +0000","release":null,"tags":"","kind":"playlist","title":"Shred
        Example 6","purchase_title":null,"ean":null,"streamable":true,"embeddable_by":"all","artwork_url":null,"purchase_url":null,"tracks_uri":"https://api.soundcloud.com/playlists/soundcloud:playlists:2049604851/tracks"}},{"type":"playlist","created_at":"2025/07/11
        13:01:22 +0000","origin":{"duration":70608,"genre":"","release_day":null,"permalink":"shred-example-5","permalink_url":"https://soundcloud.com/guitarworld/sets/shred-example-5","release_month":null,"release_year":null,"description":null,"uri":"https://api.soundcloud.com/playlists/soundcloud:playlists:2049604620","label_name":null,"label_id":null,"label":null,"tag_li[...]
