interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/tracks?q=the+great+descent&limit=10
  response:
    body:
      string: "[{\"kind\":\"track\",\"id\":1345066615,\"urn\":\"soundcloud:tracks:1345066615\",\"created_at\":\"2022/09/16
        13:14:17 +0000\",\"duration\":113789,\"commentable\":true,\"comment_count\":15,\"sharing\":\"public\",\"tag_list\":\"
        \",\"streamable\":true,\"embeddable_by\":\"all\",\"purchase_url\":null,\"purchase_title\":null,\"genre\":\"\",\"title\":\"@rocstaryoshi
        - the great descent p @henny808mafia + @mesler_\",\"description\":\"yeah,
        wait\\nwe rockin all black attire its me n my\\nwe rockin all black attire
        its me n my bitch\\nyeah, wait\\nhe talkin shit on the net get hit with that
        uh\\nhe talkin shit on the net get hit with that stick\\ni got some niggas
        gon ride some niggas gon blitz\\ni got a freak off the gram she swallow my
        kids\\ni had to get to the bag now i look like a\\ni had to get to the bag
        now i look like a lick\\n\\nyeah, wait\\ni call i the great descent[...]
