interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/playlists/10961826
  response:
    body:
      string: "{\"duration\":246827,\"genre\":\"\",\"release_day\":null,\"permalink\":\"pelican\",\"permalink_url\":\"https://soundcloud.com/nick-steel-4/sets/pelican\",\"release_month\":null,\"release_year\":null,\"description\":null,\"uri\":\"https://api.soundcloud.com/playlists/soundcloud:playlists:10961826\",\"label_name\":null,\"label_id\":null,\"label\":null,\"tag_list\":\"\",\"track_count\":1,\"user_id\":53562492,\"user_urn\":\"soundcloud:users:53562492\",\"last_modified\":\"2013/09/24
        14:12:25 +0000\",\"license\":\"all-rights-reserved\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000049704775-qq8pj8-large.jpg\",\"id\":53562492,\"urn\":\"soundcloud:users:53562492\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/nick-steel-4\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:53562492\",\"username\":\"Nick
        Steel 3\",\"permalink\":\"nick-steel-4\",\"created_at\":\"2013/08/07 09:18:09
        +0000\",\"last_modified\":\"2018/05/27 13:30:55 +0000\",\"first_name\":\"Nick\",\"last_name\":\"Steel\",\"full_name\":\"Nick
        Steel\",\"city\":null,\"description\":null,\"country\":null,\"track_count\":0,\"public_favorites_count\":0,\"reposts_count\":0,\"followers_count\":0,\"followings_count\":0,\"plan\":\"Free\",\"myspace_name\":null,\"discogs_name\":null,\"website_title\":null,\"website\":null,\"comments_count\":0,\"online\":false,\"likes_count\":0,\"playlist_count\":2,\"subscriptions\":[{\"product\":{\"id\":\"free\",\"name\":\"Free\"}}]},\"playlist_type\":\"\",\"type\":\"\",\"id\":10961826,\"urn\":\"soundcloud:playlists:10961826\",\"downloadable\":null,\"likes_count\":0,\"sharing\":\"public\",\"created_at\":\"2013/09/24
        14:12:25 +0000\",\"release\":null,\"tags\":\"\",\"kind\":\"playlist\",\"title\":\"Pelican\",\"purchase_title\":null,\"ean\":null,\"streamable\":true,\"embeddable_by\":\"all\",\"artwork_url\":null,\"purchase_url\":null,\"tracks_uri\":\"https://api.soundcloud.com/playlists/soundcloud:playlists:10961826/tracks\",\"tracks\":[{\"kind\":\"track\",\"id\":110937903,\"urn\":\"soundcloud:tracks:110937903\",\"created_at\":\"2013/09/17
        17:31:09 +0000\",\"duration\":246827,\"commentable\":true,\"comment_count\":21,\"sharing\":\"public\",\"tag_list\":\"
        \\\"southern lord\\\" metal \\\"post rock\\\" heavy chicago \\\"post everything\\\"
        pelican\",\"streamable\":true,\"embeddable_by\":\"all\",\"purchase_url\":\"http://pelicansl.bandcamp.com\",\"purchase_title\":null,\"genre\":\"heavy\",\"title\":\"Pelican
        - The Cliff\",\"description\":\"Taken from the forthcoming LP Forever Becoming,
        available on October 15th through Southern Lord Recordings.\\r\\nPre-order
        available at pelicansl.bandcamp.com\\r\\n\\r\\nTour Dates\\r\\n10/17 Brooklyn,
        NY @ Saint Vitus - http://ticketf.ly/1a4scp9\\r\\n10/18 Brooklyn, NY @ Saint
        Vitus - http://ticketf.ly/1dpr29P\\r\\n10/19 Boston, MA @ Great Scott - http://bit.ly/1aLiLvT\\r\\n11/1
        Cleveland, OH @ Peabody's - http://tktwb.tw/17JOBb9\\r\\n11/2 Washington,
        DC @ DC9 - http://ticketf.ly/17JWkWB\\r\\n11/3 Philadelphia, PA @ First Unitarian
        Church - http://ticketf.ly/153CI1R\\r\\n11/4 Chapel Hill, NC @ Local 506 -
        http://bit.ly/13RUG5T\\r\\n11/5 Atlanta, GA @ Masquerade - http://bit.ly/169TCg6\\r\\n11/6
        Birmingham, AL @ Zydeco - http://ticketf.ly/1dps1Xn\\r\\n11/7 Baton Rouge,
        LA @ Spanish Moon - http://tktwb.tw/19eijUI\\r\\n11/8 Austin, TX @ Fun Fun
        Fun Fest - http://bit.ly/17pGO5i\\r\\n11/9 Austin, TX @ Fun Fun Fun Fest -
        http://bit.ly/17pGO5i\\r\\n11/13 Chicago, IL @ Bottom Lounge - http://tktwb.tw/cGUWVL\",\"label_name\":\"Southern
        Lord\",\"release\":\"LORD182\",\"key_signature\":\"\",\"isrc\":null,\"bpm\":null,\"release_year\":2013,\"release_month\":10,\"release_day\":14,\"license\":\"all-rights-reserved\",\"uri\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:110937903\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000134520973-k3ipht-large.jpg\",\"id\":27945548,\"urn\":\"soundcloud:users:27945548\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/pelican-song\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:27945548\",\"username\":\"Pelican
        So[...]
