interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.soundcloud.com/users/27945548/tracks?limit=10
  response:
    body:
      string: "[{\"kind\":\"track\",\"id\":179495375,\"urn\":\"soundcloud:tracks:179495375\",\"created_at\":\"2014/12/01
        19:22:45 +0000\",\"duration\":361463,\"commentable\":true,\"comment_count\":0,\"sharing\":\"public\",\"tag_list\":\"
        \",\"streamable\":true,\"embeddable_by\":\"me\",\"purchase_url\":\"http://pelicansl.bandcamp.com/releases\",\"purchase_title\":null,\"genre\":\"Pelican\",\"title\":\"The
        Wait\",\"description\":\"\",\"label_name\":\"\",\"release\":\"\",\"key_signature\":null,\"isrc\":null,\"bpm\":null,\"release_year\":null,\"release_month\":null,\"release_day\":null,\"license\":\"all-rights-reserved\",\"uri\":\"https://api.soundcloud.com/tracks/soundcloud:tracks:179495375\",\"user\":{\"avatar_url\":\"https://i1.sndcdn.com/avatars-000134520973-k3ipht-large.jpg\",\"id\":27945548,\"urn\":\"soundcloud:users:27945548\",\"kind\":\"user\",\"permalink_url\":\"https://soundcloud.com/pelican-song\",\"uri\":\"https://api.soundcloud.com/users/soundcloud:users:27945548\",\"username\":\"Pelican
        Song\",\"permalink\":\"pelican-song\",\"created_at\":\"2012/11/09 19:58:08
        +0000\",\"last_modified\":\"2024/08/08 11:32:06 +0000\",\"first_name\":\"\",\"last_name\":\"\",\"full_name\":\"\",\"city\":\"Chicago\",\"description\":\"After
        four years of silence, instrumental metal standard bearers Pelican have come
        thundering back, with Forever Becoming, an eight-song album destined to be
        considered one of the most punishingly rewarding albums of the year. \\n\\nBefore
        their hiatus, the group had laid a sizeable chunk of the groundwork for the
        instrumental metal scene that\u2019s come into its own in the 13 years since
        they started playing together[...]
